<div style="border: 5px solid black;
border-radius: 30px;">
<h2>Differences</h2>
<div class="container">
  <div class="col-6">
    <ul>
      <li>Template-driven forms employ “FormsModule”</li>
      <li>The template-driven approach draws logic from the template</li>
      <li>Two-way data binding [(ngModel)]</li>
      <li>Validation rules in the HTML template using attributes like required and pattern</li>
    </ul>
  </div>
  <div class="col-6">
    <ul>
      <li>Reactive forms are based on “ReactiveFormsModule”</li>
      <li>Reactive driven forms the logic resides mainly in the component or typescript code.</li>
      <li>Explicit data binding through reactive form controls</li>
      <li>Programmatically using validators provided by the Angular Forms module</li>
    </ul>
  </div>

</div>
  
</div>