.links {
  display: flex;
  justify-content: space-evenly;
  /* background-color: aqua; */
  width: 390px;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  background-color: #cbffed;
  border-radius: 8px;
  height: 25px;
  padding: 6px;
  color: black;
}

a:active{
  background-color: bisque;
}